<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="coreframeworkupdate">
        <property name="propertyName" value="jqa-core-framework.version"/>
        <property name="id" value="com.buschmais.jqassistant.core:parent"/>
    </bean>

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="coreframeworkupdate-it">
        <!-- Required for the jQA Maven Plugin -->
        <property name="propertyName" value="it.jqa.core.version"/>
        <property name="id" value="com.buschmais.jqassistant.core:parent"/>
    </bean>

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="jqa-distribution-spec">
        <property name="propertyName" value="jqa-distribution-spec.version"/>
        <property name="id" value="com.buschmais.jqassistant:jqa-distribution-specification"/>
    </bean>

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="jqa-yaml2-plugin">
        <property name="propertyName" value="jqa-yaml2-plugin.version"/>
        <property name="id" value="com.buschmais.jqassistant.plugin:yaml2"/>
    </bean>

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="jqa-maven-plugin">
        <property name="propertyName" value="jqa-maven-plugin.version"/>
        <property name="id" value="com.buschmais.jqassistant:jqassistant-maven-plugin"/>
    </bean>

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="jqa-commandline">
        <property name="propertyName" value="jqa-commandline-tool.version"/>
        <property name="id" value="com.buschmais.jqassistant.cli:parent"/>
    </bean>

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="jqa-neo4j-backend">
        <property name="propertyName" value="jqa-neo4jbackend.version"/>
        <property name="id" value="com.buschmais.jqassistant.neo4j:embedded"/>
    </bean>

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="jqa-asciidoctor-utilities">
        <property name="propertyName" value="jqa-asciidoctor-utilities.version"/>
        <property name="id" value="com.buschmais.jqassistant:asciidoctor-utilities"/>
    </bean>

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="jqa-xml-plugin">
        <property name="propertyName" value="jqa-xml-plugin.version"/>
        <property name="id" value="com.buschmais.jqassistant.plugin:xml"/>
    </bean>

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="jqa-java-plugin">
        <property name="propertyName" value="jqa-java-plugin.version"/>
        <property name="id" value="com.buschmais.jqassistant.plugin:java"/>
    </bean>

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="jqa-java-plugin-it">
        <!-- Required for the jQA Maven Plugin. -->
        <property name="propertyName" value="it.jqa.java-plugin.version"/>
        <property name="id" value="com.buschmais.jqassistant.plugin:java"/>
    </bean>

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="jqa-plugin-common">
        <property name="propertyName" value="jqa-plugin-common.version"/>
        <property name="id" value="com.buschmais.jqassistant.plugin:common"/>
    </bean>

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="jqa-plugin-common-it">
        <!-- For the jQA Maven Plugin required. -->
        <property name="propertyName" value="it.jqa.plugin-common.version"/>
        <property name="id" value="com.buschmais.jqassistant.plugin:common"/>
    </bean>

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="jqa-plugin-tycho-it">
        <!-- For the jQA Maven Plugin required. -->
        <property name="propertyName" value="it.jqa-tycho-plugin.version"/>
        <property name="id" value="com.buschmais.jqassistant.plugin:tycho"/>
    </bean>

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="jqa-json-plugin">
        <property name="propertyName" value="jqa-json-plugin.version"/>
        <property name="id" value="com.buschmais.jqassistant.plugin:json"/>
    </bean>

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="jqa-junit-plugin">
        <property name="propertyName" value="jqa-junit-plugin.version"/>
        <property name="id" value="com.buschmais.jqassistant.plugin:junit"/>
    </bean>

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="jqa-maven3-plugin">
        <property name="propertyName" value="jqa-maven3-plugin.version"/>
        <property name="id" value="com.buschmais.jqassistant.plugin:maven3"/>
    </bean>

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="jqa-own-constraints">
        <property name="propertyName" value="jqa-own-constraints.version"/>
        <property name="id" value="com.buschmais.jqassistant:own-constraints"/>
    </bean>

    <bean class="com.buschmais.jqassistant.release.core.maven.UpdateCoreFrameworkVersion"
          id="jqa-bom">
        <property name="propertyName" value="jqa-bom.version"/>
        <property name="id" value="com.buschmais.jqassistant:bom"/>
    </bean>
</beans>
